# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# EXCEPTION: Force Git to track the patched GoTrueClient file to fix the WebAuthn crash in Hermes.
!/node_modules/@supabase/gotrue-js/dist/main/GoTrueClient.js

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
